	<div id="nav">
	    <ul>
	        <li><a href="index.html">01_ <img src="img/WhoIAm.png" alt="Who I am" /></a></li>
	        <li><a href="seeing-what-i-do.html">02_ <img src="img/SeeingWhatIDo.png" alt="Seeing what I do" /></a></li>
	        <li><a href="http://issuu.com/nohanasealund/docs/portfolio_final_issue?mode=window&backgroundColor=%23222222">03_ <img src="img/LookAtMyBook.png" alt="Look at my book" /></a></li>
	        <li><a href="where-have-i-been.html">04_ <img src="img/WhereIHaveBeen.png" alt="Where I have been" /></a></li>
	        <li><a href="any-questions.html">05_ <img src="img/WhoIAm.png" alt="Any Questions" /></a></li>
	    </ul>
	</div>
