<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Nohana Sealund</title>
	<link rel="stylesheet" href="css/nohana.css" type="text/css" media="all" title="no title" charset="utf-8" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="greenBackground">
<div id="wrapper">
    <div id="header">
        <div id="personalInfo">
            <h1><span id="zeros">00_</span>NOHANA SEALUND</h1>
            <h2>a collection of recent works from <img src="img/nameHeaderSmall.png" alt="Nohana Sealund" /></h2>
        </div>

    <%= render '_nav.html.erb' %>
    </div>
    <div id="content">
        <img src="img/reaction.png" alt="(re)action_" id="reaction" />
        <h1 class="contentMessage">A bodily response<br /> to or activity aroused by a stimulus.</h1>
    </div>
</div>
</body>
</html>